---
interface IStrategyCard{
    id: number;
    title: string;
    description: string;
}

import Button from "../components/Button.astro"
import StrategyCards from "./StrategyCards.astro"
import { getEntry } from "astro:content";

const { data:strategyData } = await getEntry("strategy", "strategy");
const { strategy } = strategyData;
---

<section class="bg-gray pt-12 px-0 pb-24">
    <div class="container items-center grid gap-10 grid-cols-1 md:grid-cols-2">
        <div class="left">
            <h2 class="items-start mb-7">Here are 3 working steps to organize our projects.</h2>
            <p class="mb-5">nean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor
                id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis.
            </p>
            <p class="mb-5">Nullam id dolor id nibh ultricies vehicula ut id elit. 
                Vestibulum id ligula porta felis euismod semper. 
                Aenean lacinia bibendum nulla sed consectetur.
            </p>
            <Button content="Learn more" href="/strategy" />
        </div>
        <div class="right">
            <div class="flex flex-col gap-10">
                {strategy?.map(( card:IStrategyCard) => (
                    <StrategyCards {...card}
                    />
                ))}
            </div>
        </div>
    </div>
  </section>